<!DOCTYPE html>
<html lang="en-ZA" dir="ltr">
    <head>
        <title>Coffee</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <header style="background-color: #4BAF4F; font-family:Arial, Helvetica, sans-serif; color:whitesmoke;">
            <h1>Welcome to Coffee</h1>
        </header>
        <main>
            <div>
                <p>
                    <h2>A Web-Based Excel-to-HTML Table Parser.</h2>
                </p>
            </div>
            <p>
                After creating a beautiful table in MS Excel (R) and want to embed this table as-is 
                in a webpage, the <strong>Coffee Web App</strong> will assist in creating a 
                well formatted `.html` file that can be directly embeded in a WIRE HTML tile.

            </p>
        </main>
        <footer>
        </footer>
    </body>
</html>